.message {
    color: $chat-text-color;
    // width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    margin-bottom: .5em;

    .message-wrapper {
        display: flex;
        align-items: flex-end;
        gap: .5em;
    }

        h1 {
            font-size: .8em;
            font-weight: 700;
        }

        p {
            word-break: break-word;
            white-space: normal;
        }

        .time {
            font-size: .7em;
            font-style: italic;
        }
        .avatar {
            width: 50px;
            height: 50px;
            // border: 1px solid red;
            border-radius: 2em;
            background-color: $highlight-color;
            // background-image: url('~@/assets/images/emoji_2.png');
            background-size: 65%;
            background-repeat: no-repeat;
            background-position: center;
            bac

            img {
                width: 80%;
            }
        }

        .avatar_1 {
            background-image: url('~@/assets/images/emoji_1.png');
        }

        .avatar_2 {
            background-image: url('~@/assets/images/emoji_2.png');
        }

    .text-wrapper {
        max-width: 70%;

        padding: 1em;

    }
}

.you {
    align-self: flex-end;
    align-items: flex-end;
    gap: .5em;
}

.you_message {
    flex-direction: row-reverse;
}

.you_inner {
    border-radius: 1.5em 1.5em 0 1.5em;
    background-color: $highlight-color;
    color: $background-color;
    // padding: .8em;
    // width: 100%;
}


.other {
    // align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
    gap: .3em;


    .time {
        align-self: flex-end;
    }
}

.other_inner {
    border-radius: 1.5em 1.5em 1.5em 0;
    background-color: $secondary-color;
    // padding: .8em;
    // width: 100%;

}