.message-panel {
    color: $chat-text-color;

    margin-bottom: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;

    .message-wrapper {
        margin-left: 1em;
        
    }
}

.you {
    background-color: $highlight-color;
    align-self: flex-end;
    border-radius: .5em .5em 0 .5em;

    display: flex;
        flex-direction: column;
        gap: 1em;
}

.other {
    align-self: flex-start;
    border-radius: .5em .5em .5em 0;
    background-color: $secondary-color;

    display: flex;
        flex-direction: column;
        gap: 1em;
}