$background-color: #FFFFFF;
$chat-text-color: #B6B6C6;
$highlight-color: #725BF2;
$secondary-color: #EFECFB;
$heading-color: #393938;

$rounded: 0.5em;
$hidden: none;

$message-bg: #444;

li {
    list-style: none;
}

body {
    font-family: 'Inter', sans-serif;
}